---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import ContactForm from '@/components/sections/ContactForm.astro';
import Faqs from '@/components/sections/Faqs.astro';
import FirstSteps from '@/components/sections/FirstSteps.astro';
import Hero from '@/components/sections/Hero.astro';
import Legalization from '@/components/sections/Legalization.astro';
import SecureLogistics from '@/components/sections/SecureLogistics.astro';
import SelectionSearch from '@/components/sections/SelectionSearch.astro';
import TechnicalInspection from '@/components/sections/TechnicalInspection.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout>
	<Navbar />
	<main>
		<Hero />
		<FirstSteps />
		<SelectionSearch />
		<TechnicalInspection />
		<SecureLogistics />
		<Legalization />
		<Faqs />
		<ContactForm />
	</main>
	<Footer />
</Layout>
